<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432119244131-7r6r3mqa9hispha3k7bntaj4461ka2mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432119244131-7r6r3mqa9hispha3k7bntaj4461ka2mj</string>
	<key>API_KEY</key>
	<string>AIzaSyC6S3lrDsfY2AK_rGvpNuKwi70L8O795eA</string>
	<key>GCM_SENDER_ID</key>
	<string>432119244131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamf5.projectBab</string>
	<key>PROJECT_ID</key>
	<string>projbab-fb3a6</string>
	<key>STORAGE_BUCKET</key>
	<string>projbab-fb3a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432119244131:ios:9b7c4d4ca254c1e4d59f56</string>
</dict>
</plist>